@import '@shared/tailwind-config/base.css';

@source "../..";

@variant light (&:where([data-theme="light"], [data-theme="light"] *):not(:is([data-theme="dark"], [data-theme="dark"] *)));
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *):not(:is([data-theme="light"], [data-theme="light"] *)));

@theme {
  --color-bgColor: #fff;
  --color-textColor: #222222;
  --color-textSecondaryColor: #666666;
  --color-primaryColor: #4f46e5;
  --color-primaryLightColor: #e4e1ff;
  --color-primary2Color: #ff0765;
  --color-primary2LightColor: #ffe6f0;
  --spacing-sectionBase: var(--section-margin-base);
  --spacing-sectionLarge: var(--section-margin-large);
  --spacing-containerBase: var(--container-padding-base);
  --spacing-containerMaxW: var(--container-max-width);
  --color-error: oklch(0.577 0.245 27.325);
  --color-success: oklch(0.6 0.15 145);
  --color-warning: oklch(0.75 0.15 85);
}

:root {
  --section-margin-base: 96px;
  --section-margin-large: 120px;
  --container-padding-base: 24px;
  --container-max-width: 1440px;
}

@media (min-width: 768px) {
  :root {
    --container-padding-base: 40px;
  }
}

.prose {
  --tw-prose-body: var(--color-textColor);
  --tw-prose-headings: var(--color-textColor);
  --tw-prose-lead: var(--color-textSecondaryColor);
  --tw-prose-bold: var(--color-textColor);
  --tw-prose-links: var(--color-primaryColor);
  --tw-prose-counters: var(--color-textSecondaryColor);
  --tw-prose-bullets: var(--color-textSecondaryColor);
  --tw-prose-quotes: var(--color-textColor);
  --tw-prose-code: var(--color-textColor);
}

.testimonials-carousel:hover .testimonials-carousel-group {
  animation-play-state: paused;
}

.testimonials-carousel-group {
  animation: testimonials-carousel-scrolling var(--testimonials-carousel-duration, 60s) linear
    infinite;
}

@keyframes testimonials-carousel-scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
