@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) prefix(frcomments);
@import "tailwindcss/utilities.css" layer(utilities);

@source "../dist/**/*.js";

.frcomments-drawer .gutter {
  padding: 0 20px !important;
}

.frcomments-drawer .drawer__content {
  --gutter-h: 1px;
}

.frcomments-drawer .drawer__blur-bg {
  display: none;
}
