@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@source "./**/*.{ts,tsx}";

.frcomments-drawer .gutter {
  padding: 0 20px !important;
}

.frcomments-drawer .drawer__content {
  --gutter-h: 1px;
}

.frcomments-drawer .drawer__blur-bg {
  display: none;
}
