.blocks-field-with-presets {
  &__add-button {
    margin-top: calc(var(--base) * 0.5);
  }

  &__footer-actions {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  &__drawer-toggler {
    display: block !important;
  }
}

.popup-button {
  width: 100%;
}

.blocks-field-with-presets {
  .blocks-field__drawer-toggler {
    display: none;
  }

  &__drawer-toggler {
    display: block !important;
  }
}
