.blocks-field-with-presets {
  &__add-button {
    margin-top: calc(var(--base) * 0.5);
  }

  &__footer-actions {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
}

.popup-button {
  width: 100%;
}

.field-type .blocks-field__drawer-toggler {
  display: none;
}
