DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE


GA4_MEASUREMENT_ID=G-XXXXXXX
GA4_PROPERTY_ID=123456789
GA4_CLIENT_EMAIL=service-account@your-gcp-project.iam.gserviceaccount.com
GA4_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

NEXT_PUBLIC_GA4_MEASUREMENT_ID=G-XXXXXXX
