@reference "tailwindcss";

@layer base {
  button:not(:disabled),
  [role="button"]:not([aria-disabled="true"]) {
    cursor: pointer;
  }
}

@layer utilities {
  .no-children-margins {
    & > * {
      @apply my-0!;
    }
  }
}

@layer components {
  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    flex-shrink: 0;
  }
}
